@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }
  body {
    @apply bg-black overflow-x-hidden;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .bg-circle {
    --x: 0;
    --y: 98.33%;
    background: radial-gradient(
      at center center,
      rgb(0, 0, 0),
      rgb(30, 64, 175),
      rgb(219, 234, 254)
    );
  }
}
